<footer class="relative">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-20 py-6">
    <div class="text-center">
      <p class="text-slate-400 text-sm">
        ©2025 LibreCollab. All rights reserved.
      </p>
    </div>
  </div>
</footer>
